@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500&family=Yellowtail&display=swap");
* {
  font-family: "roboto";
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.inicio {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3))
    url(https://img.freepik.com/vector-gratis/circuitos-fondo-digital-degradado-azul-rojo_23-2148821701.jpg?w=1380&t=st=1677353763~exp=1677354363~hmac=c9253f4242be2382e2f69ca8596a9990eb216a351b75302a60bc68d756e86154https://ibb.co/PcbvRXW);
  background-size: cover;
  background-position: center center;
  color: #fff;
}
