@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500&family=Yellowtail&display=swap");
* {
  font-family: "roboto";
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.inicio {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3))
    url(https://img.freepik.com/vector-gratis/fondo-digital-codigo-binario-estilo-matriz-numeros-que-caen_1017-25336.jpg?w=1380&t=st=1677110165~exp=1677110765~hmac=71baad47695ca947bc6281fe7c531161240f2dfbb2d4091c6d40431e6031917c);
  background-size: cover;
  background-position: center center;
  color: #fff;
}
