@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500&family=Yellowtail&display=swap");
* {
  font-family: "roboto";
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.inicio {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3))
    url(https://www.freepik.es/vector-gratis/fondo-digital-codigo-binario-estilo-matriz-numeros-que-caen_8289995.htm#query=fondo%20matrix&position=0&from_view=keyword&track=ais);
  background-size: cover;
  background-position: center center;
  color: #fff;
}
