* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #e72727;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  padding: 1rem;
  font-size: 1.2rem;
}

nav ul li a:hover {
  background-color: #f5f5f5;
}

.perfil {
  display: flex;
  align-items: center;
  padding: 2rem 0;
}

.perfil img {
  width: 8rem;
  height: 8rem;
}
