p {
  color: red;
  width: 300px;
}
/**
Esto es un comentario dentro de un documento de CSS
*/

h1 {
  border: 2px solid red;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 20;
  padding-bottom: 15;
  padding-left: 10;
  padding-right: 10;
}
